<p id="notice"><%= notice %></p>
<div class="photo-container">
  <div class="photo-inner-container">
    <div id="title-div" class="image" >
      <h2> Along the Gringo Trail </h2>
    </div>
    <% @random_photos.each_with_index do |photo, index| %>
      <% if index == 3 %>
        <div class="image">
          <%= image_tag '/assets/lugano.jpg' %>
        </div>
      <% end %>
      <div class="image">
        <%= image_tag photo.image.url(:medium) %>
      </div>
    <% end %>
  </div>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>
