<p id="notice"><%= notice %></p>
<div class="photo-container">
  <div class="photo-inner-container">
    <% @tiles.each do |tile| %>
      <% if tile === :title_tile %>
        <div id="title-div" class="image" >
          <h2> Along the Gringo Trail </h2>
        </div>
      <% else %>
        <div class="image">
          <%= image_tag tile %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>
