<p id="notice"><%= notice %></p>
<div class="photo-container">
  <div class="photo-inner-container">
    <% @tiles.each do |tile| %>
      <%= content_tag :div, class: ["image", tile[:class]] do %>
        <% if tile[:class] == 'title-tile' %>
          <h2> Along the Gringo Trail </h2>
        <% else %>
          <%= link_to tile[:href] do %>
            <%= image_tag tile[:src] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= raw post.text %></p>
      <p>
        <% if post.has_photos %>
          <% link_text = "See all photos from #{post.city.name}" %>
          <%= link_to link_text, photos_path(by_city: post.city.id) %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
