<p id="notice"><%= notice %></p>
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag "lugano.jpg"%></a>
    <div class="hero-copy">
      <h1>Along the Gringo Trail</h1>
      <p>My 2016 career break</p>  
    </div>
  </div>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>
